body {
  margin: 0;
}

.white-text {
  color: #ffffff;
}

.gray-text {
  color: hsl(218, 22%, 67%);
}

.yellow-text {
  color: hsl(71, 73%, 54%);
}

.cyan-text {
  color: hsl(179, 62%, 43%);
}

.component-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(204, 43%, 93%);
}

.component {
  display: flex;
  flex-direction: column;
  font-family: "Karla", sans-serif;
  border-radius: 8px;
  width: 650px;
  margin: 25px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.section {
  padding: 38px;
}

.section-heading {
  font-weight: 700;
  margin: 0;
}

.top-section {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 8px 8px 0 0;
}

.top-section .section-heading {
  font-size: 25px;
  letter-spacing: -0.9px;
}

.top-section .section-large-text {
  font-weight: 700;
  font-size: 17.3px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.top-section .section-small-text {
  font-size: 15px;
  width: 90%;
  line-height: 22px;
  margin: 0;
}

.bottom-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: 0 0 8px 8px;
}

.price-section {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: hsl(179, 62%, 40%);
  border-radius: 0 0 0 8px;
}

.price-section .section-heading {
  font-size: 18px;
}

.price-section .section-small-text {
  font-size: 15px;
  letter-spacing: 0.1px;
}

.price-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 16px 0 0;
}

.price {
  font-size: 30px;
  font-weight: 700;
  margin: 0 7px 0 0;
}

.price-frequency {
  font-size: 14px;
  opacity: 0.6;
  margin: 0;
}

.price-section .section-small-text {
  font-size: 14px;
  opacity: 0.95;
  margin: 10px 0 auto;
}

.signup-btn {
  background-color: hsl(71, 73%, 54%);
  color: #ffffff;
  width: 86%;
  height: 45px;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.7px;
  border: 0;
  border-radius: 5px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.signup-btn:hover {
  cursor: pointer;
}

.why-us-section {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: hsl(179, 45%, 51%);
  border-radius: 0 0 8px 0;
}

.why-us-section .section-heading {
  font-size: 18px;
  margin-bottom: 17px;
}

.why-us-section .section-item {
  font-size: 13px;
  letter-spacing: 0.05px;
  opacity: 0.8;
  margin: 2px;
}
